MADEIRA_ENV=production
MADEIRA_API_BASE_URL=
MADEIRA_API_TOKEN=
MADEIRA_MESSAGING_BASE_URL=
MADEIRA_MESSAGING_BEARER_TOKEN=
MADEIRA_MESSAGING_MM_TOKEN=
MAD_DATABASE_URL=
MAD_DIRECT_DATABASE_URL=
MADEIRA_REQUEST_TIMEOUT_MS=8000
