# API
NODE_ENV=development
PORT=4000
API_PUBLIC_URL=http://localhost:4000
WEB_PUBLIC_URL=http://localhost:3000
DATABASE_URL=postgresql://USER:PASSWORD@HOST/DB?sslmode=require
JWT_SECRET=change-me-with-32-plus-random-chars
JWT_REFRESH_SECRET=change-me-with-another-32-plus-random-chars
QR_HMAC_SECRET=change-me-before-production
CORS_ORIGINS=http://localhost:3000

# Web
NEXT_PUBLIC_API_URL=http://localhost:4000

# Infra futura
REDIS_URL=redis://localhost:6379
S3_BUCKET=voltstock-dev
